@model Book


<div class="mt-2 col-sm-4 col-la-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.BookCoverImage" alt="Book cover image" class="image-size" />

        <div class="caption">
            <h4><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.BookTitle</a></h4>
            <h5>@Model.BookAuthor</h5>
            <p>@Model.BookDescription</p>

            @if (@Model.BookIsCheckedOut == true)
            {
                <p>No copies of this book is available right now</p>
                <p>The book will return: @Model.EndDateLending.Date</p>
            }
        </div>
    </div>
</div>